* {
    background-color: #FAF9F6;
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #222222;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEE; 
} 

canvas
{
    background-color: #BBC397;
    border-radius: 10px;
}

p {
    text-align: center;
}

#toolbox
{
    border-radius: 10px;
    width: auto;
}

#toolbox-items, #bg-selection-items
{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.item 
{
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    background: blanchedalmond;
    background-repeat: no-repeat;  
    background-size: 200%;
    padding: 2px;
}

#ranunculus
{
    background-image: url("https://raw.githubusercontent.com/jlimsy/virtual-garden/refs/heads/main/assets/010_ranunculus.svg");
    background-position: center;
  
}

#rose
{
    background-image: url("https://raw.githubusercontent.com/jlimsy/virtual-garden/refs/heads/main/assets/009_rose.svg");

}

#monstera
{
    background-image: url("https://raw.githubusercontent.com/jlimsy/virtual-garden/refs/heads/main/assets/008_monstera.svg");
    background-position: center;

}

#hibiscus
{
    background-image: url("https://raw.githubusercontent.com/jlimsy/virtual-garden/refs/heads/main/assets/013_hibiscus.svg");
    background-position: bottom;
}

/* background color selection */

.bg-color
{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    padding:2px;
}

#blue
{
    background-color: #c5d6e0;
}

#pink
{
    background-color: #f0d3d3;
}

#ivory
{
    background-color: #dfd6d1;
}

#cream
{
    background-color: blanchedalmond;
}

#green
{
    background-color: #c0cfb2;
}

.item:hover
{
    background-color: #c5d6e0;
}


.active 
{
    border: 2px solid #888888;
    padding: 0px;
}

#download
{
    font-size: 1rem;
    margin: 20px;
    background-color: #f0d3d3;
    border-radius: 10px;
    padding: 5px;
}

#download:hover
{
    background-color: #c0cfb2;
}